import(XML)
import(RJSONIO)
import(RCurl)
import(CodeAnalysis)

#exportPattern(".*")

# transformToR.R
export(StoR)

# xmlNames.R
export(
    getName,
    getDocType,
    getConstantInfo,
    getCode)

export(procModelNodes,
       procModelVars,
       summarizeProcModel)



# sailCode.R

export(findCalls, getDomains)

# get all UUIDs in a document/text
export(getUUIDs,
       mkUUIDMap)

# recordTypes.R
export(
    recordTypeInfo,
    recordType,
    showRecordType,
    recordType2Markdown,
    getUUID
)



# summary.R
export(mkAppInfo, mkSummary)
export(mkCodeInfo)
export(compareTypeCounts)


export(uses, ruses,
       toplevelUUIDs)

export(rewriteCode, mkCountDfs, table2df, getPMWriteTypes, procModelUses, mergeCounts)

export(mapName)


export(readDBDump)
export(dbDump)


export(mapConsValue,
       getDescription,
       getConstants,
       getFolders,
       getFolder,
       getDefinition,
       findComments,
       getRecordTypeCode, 
       getType,
       mapFile,
       mapUUID,
       uuid2File,
       xmlFiles,
       ruleInputs,
       siteInfo,
       usedBy,
       saveTo,
       mkUsesFun2 # ???
       )


export(mkTaskRoleUnitMap)

  # better names to indicate for process model
export(
    customParams, 
    interfaceInfo
)



export(AppianTypesNS)

