import(XML)
import(RJSONIO)

#exportPattern(".*")

# transformToR.R
export(StoR)

# xmlNames.R
export(
    getName,
    getDocType,
    getConstantInfo,
    getCode)

export(procModelNodes)



# sailCode.R

export(findCalls, getDomains)

# get all UUIDs in a document/text
export(getUUIDs,
       mkUUIDMap)

# recordTypes.R
export(
    recordTypeInfo,
    recordType,
    showRecordType,
    recordType2Markdown,
    getUUID
)



# summary.R
export(mkAppInfo, mkSummary)
export(mkCodeInfo)
export(compareTypeCounts)


export(uses, ruses,
       toplevelUUIDs)

export(rewriteCode, mkCountDfs, table2df, getPMWriteTypes, procModelUses, mergeCounts)

export(mapName)


export(readDBDump)
export(dbDump)
